/* map.html에 적용되는 css */
/* section-map */

.map-main>.section-map{
    padding-top: 120px;
    padding-bottom: 60px;
}

.map-main>.section-map>div{
    margin: auto;
    margin-bottom: 50px;
}

.map-main>.section-map>h3{
    /* main-style.css와 연결되어 있기에
    같이 쓸 수 있다.*/
    font-family: 'TAEBAEKmilkyway';
    font-size: 1.3rem;
    font-weight: bold;
    padding-left: 40px;
    padding-top: 20px;
}

.map-main>.section-map>table{
    margin: auto;
    width: 600px;
    text-align: center;
    margin-bottom: 30px;
}


.map-main>.section-map>table tr{
    border-top: 1px gray solid;
}

.map-main>.section-map>table tr:last-child{
    border-bottom: 1px gray solid;
}

/* 표의 위아래 너비를 넓히려면 tr이 아닌 td에 padding을
넣어야 한다.*/
.map-main>.section-map>table td{
    padding: 10px 0;
    border-right: 1px gray solid;
}
.map-main>.section-map>table td:last-child{
    border-right: none;
}